{% extends "layouts.landing" %}

{% block title %}الملف الشخصي | سدادي{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ 'css/sadady-customer.css' | asset }}">
{% endblock %}

{% block landing_content %}
  <main class="customer-page">
    {% hook 'customer:profile.form.start' %}
    {% hook 'customer:profile.form.fields.start' %}
    {% include "components.sadady.customer.customer-profile-summary" %}
    {% hook 'customer:profile.form.fields.end' %}
    {% hook 'customer:profile.form.end' %}
  </main>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ 'js/sadady/customer-orders.js' | asset }}"></script>
{% endblock %}
