{% extends "layouts.landing" %}

{% block title %}تتبع الطلب | سدادي{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ 'css/sadady-tracking.css' | asset }}">
{% endblock %}

{% block landing_content %}
  <main class="tracking-page">
    {% include "components.sadady.tracking.tracking-search-form" %}
    {% include "components.sadady.tracking.tracking-result-card" %}
  </main>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ 'js/sadady/tracking.js' | asset }}"></script>
{% endblock %}
