{% extends "layouts.landing" %}

{% block title %}تفاصيل الطلب | سدادي{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ 'css/sadady-customer.css' | asset }}">
{% endblock %}

{% block landing_content %}
  <main class="customer-page">
    {% include "components.sadady.customer.customer-order-details" %}
  </main>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ 'js/sadady/customer-orders.js' | asset }}"></script>
{% endblock %}
