{% extends "layouts/master.twig" %}

{% block content %}
  <div class="container">
    {% include "components/sadady/layout/header.twig" %}
    {% block landing_content %}{% endblock %}
    {% include "components/sadady/layout/footer.twig" %}
  </div>
  {% include "components/sadady/journey/summary-modal.twig" %}
{% endblock %}
