<div class="providers-wrap">
  <div class="providers-row">
    <div class="provider-tabby">tabby</div>
    <div class="provider-tamara">تمارا</div>
      <div class="provider-mispay">MIS<span class="provider-mispay-accent">pay</span></div>
    <div class="provider-madfu">مدفوع</div>
    <div class="provider-emkan">
      <div class="icon">⌘</div>
      <div>
        <div class="title">إمكان</div>
        <div class="sub">Pay Later</div>
      </div>
    </div>
  </div>
</div>
